:root{
    --text-white: rgb(255, 255, 255)
}

body, html{
    margin: 0;
    height: 100%;
}
.header {
    padding: 60px;
    text-align: center;
    background: url(../assets/bg-header.jpeg);
    font-size: 30px;
    height: 450px;
}

h1.header-white {
    color: var(--text-white);
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap-reverse;
}

a, menu {
    color: var(--text-white);
    text-decoration: none;
    margin: 10px;
}

a.menu:hover {
    text-decoration: underline;
    color: gray;
}

#logo-header {
    max-width: 30px;
    max-height: 30px;
    
}

h2 {
    margin: 2em;

}
h2::first-letter{
    font-size: larger;
}

@media only screen and (max-width: 660px) {
    /* mobile */
    .navbar-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .navlinks{
        display: flex;
        flex-direction: column;
    }
    
    

  }